name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  lint-and-build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
          persist-credentials: false

    - uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: 'npm'

    - run: npm ci

    - run: npm run lint

    - name: Check Typescript
      run: npm run typescript:check

    - run: npx prettier --check src/**

    - uses: streetsidesoftware/cspell-action@v2.0.2

    - run: npm run build
      env:
        INFURA_ID: ${{ secrets.INFURA_ID }}

    - run: npm run test --if-present
